/*
Смартфон - https://wireframe.cc/7URIKP
ПК - https://wireframe.cc/38TofG
*/

html, body, div, span, h1, h2, h3, p, a, img, ol, ul, li,
table, tr, th, td, article, footer, header, nav, section {
    box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #000000;
    font-size: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

.visual-hidden {
  display: none;
}

.logo-social {
  display: flex;
  flex-direction: row;
}

.logo {
  width:50%;
}

.social-header {
  width:50%;
  text-align: right;
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1em;
}

.nav-list-item {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-list-item {
    width: 25%;
  }
}

.main-caption {
  padding-top: 2em;
  padding-bottom: 2em;
}

.about-short {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .about-short {
    flex-direction: row;
  }
}

.my-foto {
  width: 35%;
  padding-bottom: 1.5em;
}

.short-about-me {
  width: 65%;
  padding-bottom: 1.5em;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature {
  width: 33%;
}

.feature {
  padding-bottom: 1.5em;
  text-align: center;
}

.feature:last-child {
  padding-bottom: 0em;
}

@media screen and (min-width: 500px) {
  .features {
    flex-direction: row;
  }

  .feature {
    padding-bottom: 0em;
  }
}
