/*
Смартфон - https://wireframe.cc/7URIKP
ПК - https://wireframe.cc/38TofG
Montserrat - норм шрифт.
*/

/* Общее */
@font-face {
  font-family: 'Pacifico', sans-serif;
}


html, body, div, span, h1, h2, h3, p, a, img, ol, ul, li,
table, tr, th, td, article, footer, header, nav, section {
    box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
  background-color: #F0FFFF;
}

body {
  min-width: 320px;
  max-width: 980px;
  color: #000000;
  background-color: #F0F8FF;
  font-size: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  cursor: default;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: default;
  outline: none;
}

a:visited {
  color: #000000;
}


p {
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: justify;
}

.visual-hidden {
  display: none;
}

.main-caption {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Pacifico', sans-serif;
  font-size: 2.5em;
  text-decoration: underline;
  color: #191970;
  border-left: 3px solid black;
}

.sub-caption {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  color:#4682B4;
}

.social-list {
  display: flex;
  flex-direction: column;
}

.social-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media(hover: hover) {
  .mail:hover {
    color: #808080;
    transition-duration: 0.5s;
  }

  .link-vk:hover {
    opacity: 0.6;
    transition-duration: 0.5s;
  }

  .mail:hover {
    cursor: copy;
  }
}

@media(any-pointer: coarse) {
  .mail:hover {
    color: #000000;
  }

  .link-vk:hover {
    opacity: 1;
  }
}

/* Шапка */

.logo-social {
  display: flex;
  flex-direction: row;
  width :100%;
}

.logo {
  width :41%;
}

.social-header {
  width:59%;
  text-align: right;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.nav-item {
  color: #000000;
  width: 100%;
  margin-bottom: 1.5em;
}

.nav-item:last-child {
  margin-bottom: 0em;
}

@media(hover: hover) {
  .nav-item a:hover {
    color: #808080;
    transition-duration: 0.5s;
  }
}

@media(any-pointer: coarse) {
  .nav-item a:hover {
    color: #000000;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    width: 25%;
    margin-bottom: 0em;
  }
}

/* Блок "Обо мне" */

.about-short {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about-short {
    flex-direction: row;
  }
}

.my-foto {
  width: 100%;
  margin:auto;
  margin-right: 1.5em;
  margin-bottom: 2em;
  text-align: center;
}

.my-foto img {
  border: 1px solid #000000;
}

.short-about-me {
  width: 100%;
  margin-bottom: 4em;
  text-indent: 1em;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 3em;
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.feature:last-child {
  margin-bottom: 0em;
}

.feature-pic {
  margin-bottom: 1em;
  height: 4.3em;
}

@media screen and (max-width: 791px) and (min-width: 768px){
  .hobby .sub-caption {
    margin-bottom: 2.03em;
  }

  .skills .sub-caption {
    margin-bottom: 2.03em;
  }
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
  }

  .feature {

    margin-right: 0.5em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    width: 33%;
  }

  .feature:first-child {
    margin-left: 0em;
  }

  .feature:last-child {
    margin-right: 0em;
  }
}
/* Блок "Образование" */

.education-table {
  width: 100%;
  text-align: center;
}

.education-table th,
.education-table td {
  border: 1px solid #778899;
  padding: 0.2em;
}

.first-column {
  width: 10%;
}

.other-columns {
  width: 45%;
}

/* Блок "Карьера" */

.head-block {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.logo-organization {
  width: 30%;
}

.career-short {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 2em;
}

.career-short p{
  width:100%;
  text-align: right;
  margin-bottom: 0.5em;
}

.career-short p:last-child{
  margin-bottom: 0em;
}

.logo-organization img{
  border: 1px solid #000000;
}

@media screen and (min-width: 768px) {
  .career-short {
    flex-direction: row;
    margin-bottom: 0em;
  }

  .career-short p{
    width:33%;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 0em;
  }

  .career-short p:last-child{
    margin-right: 0em;
  }

  .logo-organization img{
    margin-bottom: 2em;
  }
}

.career-description {
  margin-bottom: 3em;
  text-align: justify;
  text-indent: 1em;
}

.career-description-last {
  margin-bottom: 0em;
  text-align: justify;
  text-indent: 1em;
}

/* Блок "Проекты" */

.projects {
  display: flex;
  flex-direction: column;
}

.project-list {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.project-item {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.project-item p{
  text-align: center;
}

.arrows {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3em;
}

.arrow {
  user-select: none;
  max-width: 7em;
}

.arrow:first-child {
  margin-right: 4em;
}

@media(hover: hover) {
  .arrow :hover {
    opacity: 0.6;
    transition-duration: 0.5s;
  }
}

@media(any-pointer: coarse) {
  .arrow :hover {
    opacity: 1;
  }
}

/* Подвал */

.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  width: 100%;
  font-size: 0.6em;
  text-align: left;
  color: #A9A9A9;
}

.social-footer {
  width: 100%;
  text-align: right;
  margin-bottom: 2em;
}
