/*
Смартфон - https://wireframe.cc/7URIKP
ПК - https://wireframe.cc/38TofG
*/

/* Общее */

html, body, div, span, h1, h2, h3, p, a, img, ol, ul, li,
table, tr, th, td, article, footer, header, nav, section {
    box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 980px;
    color: #000000;
    font-size: 1em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

.visual-hidden {
  display: none;
}

.main-caption {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sub-caption {
  text-align: center;
  margin-bottom: 1em;
}

/* Шапка */

.logo-social {
  display: flex;
  flex-direction: row;
}

.logo {
  width:50%;
}

.social-header {
  width:50%;
  text-align: right;
}

.nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
}

.nav-list-item {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-list-item {
    width: 25%;
  }
}

/* Блок "Обо мне" */

.about-short {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .about-short {
    flex-direction: row;
  }
}

.my-foto {
  width: 35%;
  margin-bottom: 1.5em;
}

.short-about-me {
  width: 65%;
  margin-bottom: 1.5em;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature {
  width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
}

.feature:last-child {
  margin-bottom: 0em;
}

.feature-pic {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .features {
    flex-direction: row;
  }

  .feature {
    margin-bottom: 0em;
    width: 33%;
  }
}

/* Блок "Образование" */

.education-table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.education-table th,
.education-table td {
  border: 1px solid black;
  padding: 0.2em;
}

.first-column {
  width: 10%;
}

.other-columns {
  width: 45%;
}

/* Блок "Карьера" */

.head-block {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.logo-organization {
  width: 15%;
}

.career-short {
  width: 85%;
  margin-bottom: 2em;
}

.career-description {
  margin-bottom: 2em;
  text-align: justify;
}

.career-description-last {
  margin-bottom: 0em;
  text-align: justify;
}

/* Блок "Проекты" */

.project-descrition {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.project {
  margin-left: 1em;
  margin-right: 1em;
  width: 80%
}

.project p {
  text-align: justify;
  margin-bottom: 2em;
}

.arrow {
  width: 10%
}

@media screen and (min-width: 600px) {
  .project {
    width: 50%;
  }

  .arrow {
    width: 25%;
  }
}

/* Подвал */
