/*
Смартфон - https://wireframe.cc/7URIKP
ПК - https://wireframe.cc/38TofG
Montserrat - норм шрифт.
*/

/* Общее */
@font-face {
  font-family: 'Pacifico', sans-serif;
}


html, body, div, span, h1, h2, h3, p, a, img, ol, ul, li,
table, tr, th, td, article, footer, header, nav, section {
    box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 980px;
  color: #000000;
  font-size: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
  font-size: 1.1em;

}

.visual-hidden {
  display: none;
}

.main-caption {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Pacifico', sans-serif;
  font-size: 2.5em;
}

.sub-caption {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.social-list {
  display: flex;
  flex-direction: column;
}

.social-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Шапка */

.logo-social {
  display: flex;
  flex-direction: row;
  width :100%;
}

.logo {
  width :45%;
}

.social-header {
  width:55%;
  text-align: right;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

.nav-item {
  width: 100%;
  margin-bottom: 1.5em;
}

.nav-item:last-child {
  margin-bottom: 0em;
}

@media screen and (min-width: 600px) {
  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    width: 25%;
    margin-bottom: 0em;
  }
}

/* Блок "Обо мне" */

.about-short {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .about-short {
    flex-direction: row;
  }
}

.my-foto {
  display: flex;
  width: 50%;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.short-about-me {
  width: 50%;
  margin-bottom: 3em;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature {
  width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
}

.feature:last-child {
  margin-bottom: 0em;
}

.feature-pic {
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .features {
    flex-direction: row;
  }

  .feature {
    margin-bottom: 0em;
    width: 33%;
  }
}

/* Блок "Образование" */

.education-table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.education-table th,
.education-table td {
  border: 1px solid black;
  padding: 0.2em;
}

.first-column {
  width: 10%;
}

.other-columns {
  width: 45%;
}

/* Блок "Карьера" */

.head-block {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.logo-organization {
  width: 16%;
}

.career-short {
  display: flex;
  flex-direction: column;
  width: 84%;
  margin-bottom: 2em;
}

.career-short p{
  width:100%;
  text-align: right;
  margin-bottom: 0.5em;
}

.career-short p:last-child{
  margin-bottom: 0em;
}

@media screen and (min-width: 600px) {
  .career-short {
    flex-direction: row;
  }

  .career-short p{
    width:33%;
    text-align: center;
    margin-right: 2em;
  }

  .career-short p:last-child{
    margin-right: 0em;
  }
}

.career-description {
  margin-bottom: 2em;
  text-align: justify;
}

.career-description-last {
  margin-bottom: 0em;
  text-align: justify;
}

/* Блок "Проекты" */

.project-descrition {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.project {
  margin-left: 1em;
  margin-right: 1em;
  width: 80%
}

.project p {
  text-align: justify;
  margin-bottom: 2em;
}

.arrow {
  width: 10%
}

@media screen and (min-width: 600px) {
  .project {
    width: 50%;
  }

  .arrow {
    width: 25%;
  }
}

/* Подвал */

.footer {
  display: flex;
  flex-direction: row;
}

.copyright {
  width: 45%;
  margin-top: 0.5em;
  text-align: center;
}

.social-footer {
  width: 55%;
  text-align: right;
}
